* {
  --main-color: #226666;
  --main-color-bright: #669999;
  --main-color-dark: #003333;
  --second-color: #2D882D;
  --select-color: #AA6C39;
  --alert-color: #AA3939;
  --white-color: #dedede;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  background: none;
}

body {
  background: var(--main-color-dark);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './App.css'